*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#fff; display: flex; justify-content: space-between; align-items: center; padding: 5px 10px;
}
.logo{
    width: 50px; padding: 0px 15px;align-items: center;padding-top: 10px;
}
.first{
    flex: 1; align-items: center;display: flex;
}
.profile{
    width: 30px;
    height: 30px;align-items: center;
}
.third{
    align-items: center;display: flex;gap: 20px; flex: 30px; justify-content: end;
}
.third1{
    align-items: center;display: flex;gap: 10px;flex: 30px;justify-content:center;
}
.middle{
    display: flex; align-items: center;
}
.mic{
  border-radius: 50%;width: 30px; height: 30px; border: none;margin-left: 5px;
}
.search{
    background: color #000;width: 350px; height: 30px;border: 2px; border-radius: 20px;overflow: hidden; border-color: #e7e6e6;border-style: solid;
}
input{
    width: 100%; height: 100%;outline: black; border: 13px; padding: 0px 2px;text-indent: 5px;
}
.btn{
    border: none;border-radius: 20px; font-weight: 500;padding: 5px 10px;
}
.btn1{
    border: none;border-radius: 20px; font-weight: 500;padding: 5px 10px;
}
.btn:hover{
    color: blueviolet;
}   
    .container {
      display: inline-block;
      height: 100vh;
    }
    .bell1{
      width:30px; height: 30px;background-color: #fff; border: none;position: relative;
    }
    .bell1:hover{
      background-color: #ddd8d8;width:30px; height: 30px;border-radius: 50%;
    }
    .bell1 i{
      width: 30px;
    }
    .not{
      background-color: red;
      color: #fff;font-size: 11px;
      width: 13px; height: 13px; border-radius: 50%;position: absolute;right: 0px;top: 0px;padding: 1px;
    }
    /* css for the videos */
    .main{
        padding: 30px 30px; display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px;
    }
    .video-info{
        display: flex; gap: 10px;
    }
    .video-card{
        width:fit-content;
    }
    .thumbnail{
        width: 100%; margin-bottom: 8px; border-radius: 10px;cursor: p;
    }
     .thumbnail:hover{
        width: 100%; margin-bottom: 8px; border-radius: 0;cursor: p;
    }
    .video-details h2{
        font-size: 15px;margin-bottom: 8px;cursor: pointer;font-family: roboto;
    }
     .video-details p, span{
        font-size: 12px; color: rgb(67, 65, 65);
    }
    .profile-img img{
        width: 25px;
    }